Repository nautobot/nautobot-app-chatops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glennmatthews, @smk4664, @whitej6, @romanukes, @pato23arg, @qduk, @davidban77, @jeffkala, @alhogan, @pke11y, @jdrew82

Ruff
  nautobot_chatops/tables.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Refactored grafana views to use nautobotuiviewset
  nautobot_chatops/api/urls.py
  nautobot_chatops/filters.py
  nautobot_chatops/forms.py
  nautobot_chatops/integrations/grafana/api/__init__.py
  nautobot_chatops/integrations/grafana/api/serializers.py
  nautobot_chatops/integrations/grafana/api/urls.py
  nautobot_chatops/integrations/grafana/api/views.py
  nautobot_chatops/integrations/grafana/filters.py
  nautobot_chatops/integrations/grafana/forms.py
  nautobot_chatops/integrations/grafana/tables.py
  nautobot_chatops/integrations/grafana/urls.py
  nautobot_chatops/integrations/grafana/views.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes, @davidban77

Added changelog fragment, fixed ruff issue
  changes/394.housekeeping
  nautobot_chatops/forms.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Grafana panel: NautobotUIViewSet, UI component
  nautobot_chatops/filters.py
  nautobot_chatops/integrations/grafana/api/serializers.py
  nautobot_chatops/integrations/grafana/api/urls.py
  nautobot_chatops/integrations/grafana/api/views.py
  nautobot_chatops/integrations/grafana/filters.py
  nautobot_chatops/integrations/grafana/forms.py
  nautobot_chatops/integrations/grafana/tables.py
  nautobot_chatops/integrations/grafana/urls.py
  nautobot_chatops/integrations/grafana/views.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes, @davidban77

Updated classnames, baseclass, fixed panelbulkedit
  nautobot_chatops/filters.py
  nautobot_chatops/forms.py
  nautobot_chatops/integrations/grafana/api/serializers.py
  nautobot_chatops/integrations/grafana/api/views.py
  nautobot_chatops/integrations/grafana/filters.py
  nautobot_chatops/integrations/grafana/forms.py
  nautobot_chatops/integrations/grafana/views.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes, @davidban77

poetry lock
  poetry.lock
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

ruff fix
  nautobot_chatops/forms.py
  nautobot_chatops/integrations/grafana/forms.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes, @davidban77

Grafana Variables: NautobotUIViewset, UI component
  nautobot_chatops/filters.py
  nautobot_chatops/forms.py
  nautobot_chatops/integrations/grafana/filters.py
  nautobot_chatops/integrations/grafana/forms.py
  nautobot_chatops/integrations/grafana/urls.py
  nautobot_chatops/integrations/grafana/views.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes, @davidban77

Refactored sync and Bulkimport views
  nautobot_chatops/api/serializers.py
  nautobot_chatops/api/urls.py
  nautobot_chatops/integrations/grafana/api/serializers.py
  nautobot_chatops/integrations/grafana/api/urls.py
  nautobot_chatops/integrations/grafana/api/views.py
  nautobot_chatops/integrations/grafana/tables.py
  nautobot_chatops/integrations/grafana/urls.py
  nautobot_chatops/integrations/grafana/views.py
  nautobot_chatops/templates/nautobot_chatops/grafanadashboard_list.html
  nautobot_chatops/templates/nautobot_chatops/grafanapanel_list.html
  nautobot_chatops/templates/nautobot_chatops/grafanapanelvariable_list.html
  nautobot_chatops/templates/nautobot_chatops_grafana/dashboard_list.html
  nautobot_chatops/templates/nautobot_chatops_grafana/panel_list.html
  nautobot_chatops/templates/nautobot_chatops_grafana/variable_list.html
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes, @davidban77

fix deprecated classes
  nautobot_chatops/banner.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Update nautobot_chatops/banner.py
  nautobot_chatops/banner.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

fix deprecated classes (#395)
  nautobot_chatops/banner.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

updated boolean column
  nautobot_chatops/integrations/grafana/tables.py
Owners: @davidban77

Added comment
  nautobot_chatops/api/serializers.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

pylint issue
  nautobot_chatops/api/serializers.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Cookie updated by NetworkToCode Cookie Drift Manager Tool
  .cookiecutter.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  development/Dockerfile
  development/bin/ensure_release_notes.py
  development/towncrier_header.txt
  development/towncrier_template.j2
  docs/admin/compatibility_matrix.md
  docs/admin/install.md
  docs/dev/dev_environment.md
  docs/dev/release_checklist.md
  invoke.example.yml
  invoke.mysql.yml
  nautobot_chatops/__init__.py
  nautobot_chatops/tests/test_basic.py
  nautobot_chatops/views.py
  pyproject.toml
  tasks.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Cookie updated by NetworkToCode Cookie Drift Manager Tool
  .cookiecutter.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  changes/+nautobot-app-v2.7.0.housekeeping
  development/Dockerfile
  development/bin/ensure_release_notes.py
  development/towncrier_header.txt
  development/towncrier_template.j2
  docs/admin/compatibility_matrix.md
  docs/admin/install.md
  docs/dev/dev_environment.md
  docs/dev/release_checklist.md
  invoke.example.yml
  invoke.mysql.yml
  nautobot_chatops/__init__.py
  nautobot_chatops/views.py
  pyproject.toml
  tasks.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Fix conflicts and poetry lock.
  .cookiecutter.json
  .github/workflows/ci.yml
  development/Dockerfile
  docs/admin/compatibility_matrix.md
  docs/admin/install.md
  docs/dev/dev_environment.md
  invoke.example.yml
  invoke.mysql.yml
  nautobot_chatops/__init__.py
  nautobot_chatops/views.py
  poetry.lock
  pyproject.toml
  tasks.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

DJLint fixes
  nautobot_chatops/templates/nautobot_chatops/access_grant_edit.html
  nautobot_chatops/templates/nautobot_chatops/access_grant_list.html
  nautobot_chatops/templates/nautobot_chatops/accessgrant_create.html
  nautobot_chatops/templates/nautobot_chatops/chatops_account_link_edit.html
  nautobot_chatops/templates/nautobot_chatops/chatopsaccountlink.html
  nautobot_chatops/templates/nautobot_chatops/chatopsaccountlink_create.html
  nautobot_chatops/templates/nautobot_chatops/command_token_list.html
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Add back in the pylint similarities.
  pyproject.toml
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Replace deprecated templates
  changes/397.housekeeping
  nautobot_chatops/templates/nautobot_chatops/access_grant_edit.html
  nautobot_chatops/templates/nautobot_chatops/chatops_account_link_edit.html
  nautobot_chatops/templates/nautobot_chatops/chatopsaccountlink.html
  nautobot_chatops/templates/nautobot_chatops/command_token_edit.html
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Cookie updated by NetworkToCode Cookie Drift Manager Tool (#396)
  .cookiecutter.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  changes/+nautobot-app-v2.7.0.housekeeping
  development/Dockerfile
  development/bin/ensure_release_notes.py
  development/towncrier_header.txt
  development/towncrier_template.j2
  docs/admin/compatibility_matrix.md
  docs/dev/dev_environment.md
  docs/dev/release_checklist.md
  invoke.example.yml
  invoke.mysql.yml
  nautobot_chatops/templates/nautobot_chatops/access_grant_edit.html
  nautobot_chatops/templates/nautobot_chatops/access_grant_list.html
  nautobot_chatops/templates/nautobot_chatops/accessgrant_create.html
  nautobot_chatops/templates/nautobot_chatops/chatops_account_link_edit.html
  nautobot_chatops/templates/nautobot_chatops/chatopsaccountlink.html
  nautobot_chatops/templates/nautobot_chatops/chatopsaccountlink_create.html
  nautobot_chatops/templates/nautobot_chatops/command_token_list.html
  poetry.lock
  pyproject.toml
  tasks.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Update nautobot_chatops/api/serializers.py
  nautobot_chatops/api/serializers.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Update nautobot_chatops/api/serializers.py
  nautobot_chatops/api/serializers.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Updated poetry lock
  nautobot_chatops/api/serializers.py
  poetry.lock
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Refactored grafana views to use nautobotuiviewset (#394)
  changes/394.housekeeping
  nautobot_chatops/api/serializers.py
  nautobot_chatops/api/urls.py
  nautobot_chatops/filters.py
  nautobot_chatops/forms.py
  nautobot_chatops/integrations/grafana/api/__init__.py
  nautobot_chatops/integrations/grafana/api/serializers.py
  nautobot_chatops/integrations/grafana/api/urls.py
  nautobot_chatops/integrations/grafana/api/views.py
  nautobot_chatops/integrations/grafana/filters.py
  nautobot_chatops/integrations/grafana/forms.py
  nautobot_chatops/integrations/grafana/tables.py
  nautobot_chatops/integrations/grafana/urls.py
  nautobot_chatops/integrations/grafana/views.py
  nautobot_chatops/templates/nautobot_chatops/grafanadashboard_list.html
  nautobot_chatops/templates/nautobot_chatops/grafanapanel_list.html
  nautobot_chatops/templates/nautobot_chatops/grafanapanelvariable_list.html
  nautobot_chatops/templates/nautobot_chatops_grafana/dashboard_list.html
  nautobot_chatops/templates/nautobot_chatops_grafana/panel_list.html
  nautobot_chatops/templates/nautobot_chatops_grafana/variable_list.html
  poetry.lock
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes, @davidban77

Update changes/397.housekeeping
  changes/397.housekeeping
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Replace deprecated templates (#397)
  changes/397.housekeeping
  nautobot_chatops/templates/nautobot_chatops/access_grant_edit.html
  nautobot_chatops/templates/nautobot_chatops/chatops_account_link_edit.html
  nautobot_chatops/templates/nautobot_chatops/chatopsaccountlink.html
  nautobot_chatops/templates/nautobot_chatops/command_token_edit.html
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

fix bad merge
  nautobot_chatops/__init__.py
  nautobot_chatops/templates/nautobot_chatops/accessgrant_create.html
  nautobot_chatops/templates/nautobot_chatops/chatopsaccountlink_create.html
  nautobot_chatops/templates/nautobot_chatops_grafana/dashboard_list.html
  nautobot_chatops/templates/nautobot_chatops_grafana/panel_list.html
  nautobot_chatops/templates/nautobot_chatops_grafana/variable_list.html
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Cookie updated by NetworkToCode Cookie Drift Manager Tool
  .cookiecutter.json
  .github/workflows/release.yml
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Cookie updated by NetworkToCode Cookie Drift Manager Tool
  .cookiecutter.json
  .github/workflows/release.yml
  changes/+nautobot-app-v2.7.1.housekeeping
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Apply suggestion from @gsnider2195
  .cookiecutter.json
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

update lockfile
  poetry.lock
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Cookie updated by NetworkToCode Cookie Drift Manager Tool (#400)
  .cookiecutter.json
  .github/workflows/release.yml
  changes/+nautobot-app-v2.7.1.housekeeping
  poetry.lock
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Nav changes
  nautobot_chatops/integrations/grafana/navigation.py
  nautobot_chatops/navigation.py
Owners: @davidban77, @glennmatthews, @smk4664, @whitej6, @romanukes

Update schema-enforcer and termcolor deps
  poetry.lock
  pyproject.toml
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Changelog
  changes/403.dependencies
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Update pyproject.toml
  pyproject.toml
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Lockfile
  poetry.lock
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Update schema-enforcer and termcolor deps (#403)
  changes/403.dependencies
  poetry.lock
  pyproject.toml
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

.github/CODEOWNERS:

# Default owner(s) of all files in this repository
* @glennmatthews @smk4664 @whitej6 @romanukes
/nautobot_chatops/integrations/aci/ @pato23arg
/nautobot_chatops/integrations/ansible/ @smk4664
/nautobot_chatops/integrations/aristacv/ @qduk
/nautobot_chatops/integrations/grafana/ @davidban77
/nautobot_chatops/integrations/meraki/ @jeffkala
/nautobot_chatops/integrations/ipfabric/ @alhogan @pke11y
/nautobot_chatops/integrations/panorama/ @jdrew82
