Repository nautobot/nautobot-app-chatops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @glennmatthews, @smk4664, @whitej6, @romanukes, @pato23arg, @qduk, @davidban77, @jeffkala, @alhogan, @pke11y, @jdrew82

Add missing schemas
  nautobot_chatops/app-config-schema.json
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Update Poetry lock
  poetry.lock
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Update poetry.lock
  poetry.lock
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Fix Doc links (#332)
  changes/331.documentation
  docs/admin/platforms/mattermost.md
  docs/admin/platforms/microsoft_teams.md
  docs/admin/platforms/slack.md
  docs/admin/platforms/webex.md
  docs/dev/dev_environment.md
  poetry.lock
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

#333 Fix slack-sdk dependency.
  changes/333.dependencies
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Fixed slack-sdk to version ^3.19.0 for `files_upload_v2`.
  changes/333.dependencies
  poetry.lock
  pyproject.toml
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Fix slack-sdk dependency (#335)
  changes/333.dependencies
  poetry.lock
  pyproject.toml
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Cookie updated by NetworkToCode Cookie Drift Manager Tool
  .bandit.yml
  .cookiecutter.json
  .github/workflows/ci.yml
  .github/workflows/upstream_testing.yml
  README.md
  development/Dockerfile
  development/development.env
  development/towncrier_template.j2
  docs/dev/arch_decision.md
  docs/dev/contributing.md
  docs/dev/dev_environment.md
  docs/dev/release_checklist.md
  nautobot_chatops/__init__.py
  pyproject.toml
  tasks.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Cookie updated by NetworkToCode Cookie Drift Manager Tool
  .cookiecutter.json
  .github/workflows/ci.yml
  .github/workflows/upstream_testing.yml
  README.md
  changes/+nautobot-app-v2.4.0.housekeeping
  development/Dockerfile
  development/development.env
  development/towncrier_template.j2
  docs/dev/arch_decision.md
  docs/dev/contributing.md
  docs/dev/release_checklist.md
  nautobot_chatops/__init__.py
  poetry.lock
  tasks.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

fix lock file
  poetry.lock
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Add back code removed by Drift Manager
  nautobot_chatops/__init__.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Fix RTD badge location
  README.md
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Delete arch_decision.md
  docs/dev/arch_decision.md
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Remove duplicate run_command from tasks.py
  tasks.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Cookie updated by NetworkToCode Cookie Drift Manager Tool (#337)
  .cookiecutter.json
  .github/workflows/ci.yml
  .github/workflows/upstream_testing.yml
  changes/+nautobot-app-v2.4.0.housekeeping
  development/Dockerfile
  development/development.env
  development/towncrier_template.j2
  docs/dev/contributing.md
  docs/dev/release_checklist.md
  poetry.lock
  tasks.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Remove config file
  tasks.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Change fragment
  changes/338.housekeeping
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Update changes/338.housekeeping
  changes/338.housekeeping
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Remove config file from migrations check (#338)
  changes/338.housekeeping
  tasks.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Update .cookiecutter.json
  .cookiecutter.json
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Create 339.housekeeping
  changes/339.housekeeping
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Update changes/339.housekeeping
  changes/339.housekeeping
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Update .cookiecutter.json (#339)
  .cookiecutter.json
  changes/339.housekeeping
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

multiple fixes
  nautobot_chatops/api/urls.py
  nautobot_chatops/api/views/mattermost.py
  nautobot_chatops/api/views/ms_teams.py
  nautobot_chatops/api/views/slack.py
  nautobot_chatops/api/views/webex.py
  nautobot_chatops/integrations/grafana/api/__init__.py
  nautobot_chatops/integrations/grafana/api/urls.py
  nautobot_chatops/integrations/grafana/api/views/__init__.py
  nautobot_chatops/integrations/grafana/api/views/generic.py
  nautobot_chatops/integrations/grafana/navigation.py
  nautobot_chatops/integrations/grafana/tables.py
  nautobot_chatops/integrations/grafana/urls.py
  nautobot_chatops/integrations/grafana/views.py
  nautobot_chatops/models.py
  nautobot_chatops/navigation.py
  nautobot_chatops/tables.py
  nautobot_chatops/templates/nautobot_chatops_grafana/grafana_disabled.html
  nautobot_chatops/urls.py
  nautobot_chatops/views.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes, @davidban77

require login on views
  nautobot_chatops/api/views/mattermost.py
  nautobot_chatops/api/views/ms_teams.py
  nautobot_chatops/api/views/slack.py
  nautobot_chatops/api/views/webex.py
  nautobot_chatops/integrations/grafana/views.py
  nautobot_chatops/views.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes, @davidban77

add import guardrails
  nautobot_chatops/integrations/grafana/diffsync/sync.py
Owners: @davidban77

move more database access into functions instead of at import
  nautobot_chatops/workers/__init__.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

changelogs
  changes/341.added
  changes/341.fixed
  changes/341.housekeeping
  changes/341.removed
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

remove authentication from API endpoints
  changes/341.fixed
  nautobot_chatops/views.py
  nautobot_chatops/workers/__init__.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

update docstrings
  nautobot_chatops/integrations/grafana/diffsync/sync.py
Owners: @davidban77

add development environment changes
  development/nautobot_config.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

handle missing dependencies in grafana views
  nautobot_chatops/integrations/grafana/views.py
Owners: @davidban77

Fix constance being accessed before database is ready and other fixes (#341)
  changes/341.added
  changes/341.fixed
  changes/341.housekeeping
  changes/341.removed
  development/nautobot_config.py
  nautobot_chatops/api/urls.py
  nautobot_chatops/api/views/mattermost.py
  nautobot_chatops/api/views/ms_teams.py
  nautobot_chatops/api/views/slack.py
  nautobot_chatops/api/views/webex.py
  nautobot_chatops/integrations/grafana/api/__init__.py
  nautobot_chatops/integrations/grafana/api/urls.py
  nautobot_chatops/integrations/grafana/api/views/__init__.py
  nautobot_chatops/integrations/grafana/api/views/generic.py
  nautobot_chatops/integrations/grafana/diffsync/sync.py
  nautobot_chatops/integrations/grafana/navigation.py
  nautobot_chatops/integrations/grafana/tables.py
  nautobot_chatops/integrations/grafana/urls.py
  nautobot_chatops/integrations/grafana/views.py
  nautobot_chatops/models.py
  nautobot_chatops/navigation.py
  nautobot_chatops/tables.py
  nautobot_chatops/templates/nautobot_chatops_grafana/grafana_disabled.html
  nautobot_chatops/urls.py
  nautobot_chatops/views.py
  nautobot_chatops/workers/__init__.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes, @davidban77

release v3.1.1
  changes/+nautobot-app-v2.4.0.housekeeping
  changes/331.documentation
  changes/333.dependencies
  changes/339.housekeeping
  changes/341.added
  changes/341.fixed
  changes/341.housekeeping
  changes/341.removed
  docs/admin/release_notes/version_3.1.md
  poetry.lock
  pyproject.toml
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

bump version
  pyproject.toml
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Add Change fragment.
  changes/343.dependencies
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Add Slurpit Chatops Commands
  README.md
  changes/347.added
  development/Dockerfile
  development/development.env
  development/nautobot_config.py
  docs/admin/install.md
  docs/admin/integrations/slurpit.md
  docs/images/slurpit-device-data.png
  docs/images/slurpit-get-device.png
  docs/images/slurpit-get-devices.png
  docs/images/slurpit-get-plannings.png
  docs/images/slurpit-get-sites.png
  docs/images/slurpit-help.png
  docs/images/slurpit-search-data.png
  docs/user/app_getting_started.md
  docs/user/integrations/slurpit.md
  mkdocs.yml
  nautobot_chatops/__init__.py
  nautobot_chatops/integrations/slurpit/__init__.py
  nautobot_chatops/integrations/slurpit/worker.py
  nautobot_chatops/static/nautobot_slurpit/slurpit_logo.png
  nautobot_chatops/tests/slurpit/__init__.py
  nautobot_chatops/tests/slurpit/test_api.py
  poetry.lock
  pyproject.toml
  tasks.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Revert changes to development files
  development/Dockerfile
  development/development.env
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Revert tasks.py
  tasks.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

Wrap get_commands_registry with sync_to_async
  changes/348.fixed
  nautobot_chatops/sockets/slack.py
Owners: @glennmatthews, @smk4664, @whitej6, @romanukes

.github/CODEOWNERS:

# Default owner(s) of all files in this repository
* @glennmatthews @smk4664 @whitej6 @romanukes
/nautobot_chatops/integrations/aci/ @pato23arg
/nautobot_chatops/integrations/ansible/ @smk4664
/nautobot_chatops/integrations/aristacv/ @qduk
/nautobot_chatops/integrations/grafana/ @davidban77
/nautobot_chatops/integrations/meraki/ @jeffkala
/nautobot_chatops/integrations/ipfabric/ @alhogan @pke11y
/nautobot_chatops/integrations/panorama/ @jdrew82
